[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "vim/bundle/numbers.vim"]
	path = vim/bundle/numbers.vim
	url = https://github.com/b3niup/numbers.vim.git
[submodule "vim/vim-airline"]
	path = vim/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim-sensible"]
	path = vim/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
