[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "vim/bundle/numbers.vim"]
	path = vim/bundle/numbers.vim
	url = https://github.com/b3niup/numbers.vim.git
[submodule "vim/vim-airline"]
	path = vim/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim-sensible"]
	path = vim/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "zprezto"]
	path = zprezto
	url = git@github.com:evadnoob/prezto.git
[submodule "tmux/tmux-battery"]
	path = tmux/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = git://github.com/tarruda/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-history-substring-search"]
	path = zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "iTerm2-Color-Schemes"]
	path = iTerm2-Color-Schemes
	url = git@github.com:evadnoob/iTerm2-Color-Schemes.git
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
