[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/david/xorg.conf.new]
row=10
col=0

[/home/david/Mail]
row=0
col=1

[/home/david/Downloads]
row=3
col=0

[/home/david/sedtFsmOo]
row=11
col=0

[/home/david/mbox]
row=6
col=0

[/home/david/compton]
row=13
col=0

[/home/david/firefox]
row=9
col=0

[/home/david/Dropbox]
row=5
col=0

[/home/david/projects]
row=7
col=0

[/home/david/jkdjfadsk]
row=8
col=0

[/home/david/dotfiles]
row=12
col=0

[/home/david/olddotssh]
row=4
col=0

[/home/david/migrator-endpoints]
row=1
col=1

[Trash]
row=2
col=0

[/]
row=1
col=0

[/home/david]
row=0
col=0

